%h1 Welcome to Edukasyon

= link_to 'Courses', courses_path
= link_to 'Teachers', teachers_path
= link_to 'Admin', admin_root_path
= link_to 'Login', '#'

= render '/shared/search_form',
  path: courses_path,
  type: 'Course'
