%h1 Login

= form_for(:session, url: login_path) do |f|
  - if @error.present?
    .error_explanation
      .alert.alert-error
        = @error

  = hidden_field_tag :redirect_to, params[:redirect_to]

  .form_field
    = f.label :email
    = f.text_field :email, value: session[:email]

  .form_field
    = f.label :password
    = f.password_field :password

  = f.submit 'Login'

%p
  No account?
  = link_to 'Sign up', new_student_path
