= form_with(model: teacher, url: path, local: true) do |f|
  - if teacher.errors.any?
    #error_explanation
      %h2= "#{pluralize(teacher.errors.count, "error")} prohibited this teacher from being saved:"
      %ul
        - teacher.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :first_name, 'First Name'
    = f.text_field :first_name

  .field
    = f.label :last_name, 'Last Name'
    = f.text_field :last_name

  .form-group
    = f.label :image_url, 'Choose Image'
    = f.select :image_url, Teacher::LOCAL_IMAGE_URLS

  .field
    = f.label :password
    = f.password_field :password

  .field
    = f.label :password_confirmation, 'Password Confirmation'
    = f.password_field :password_confirmation

  = f.submit
