<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Enrolled Klasses:</strong>
  <ul>
    <% @student.klasses.order_by_course.each do |klass| %>
      <li>
        <%= klass.course.name %> by <%= klass.teacher.full_name %>
        <%= link_to 'Unenroll',
          unenroll_admin_klass_path(klass.id),
          method: :put %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Available Klasses:</strong>
  <ul>
    <% @student.klasses_for_enrollment.includes(:teacher).each do |klass| %>
      <li>
        <%= klass.course.name %> by <%= klass.teacher.full_name %>
        <%= link_to 'Enroll',
          enroll_admin_klass_path(klass.id, student_id: @student.id, course_id: klass.course_id),
          method: :put %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_student_path(@student) %> |
<%= link_to 'Back', admin_students_path %>
