= form_with(model: klass, url: path, local: true) do |f|
  - if klass.errors.any?
    #error_explanation
      %h2= "#{pluralize(klass.errors.count, "error")} prohibited this klass from being saved:"
      %ul
        - klass.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :course
    = f.collection_select :course_id, @courses, :id, :name, include_blank: true

  .field
    = f.label :teacher
    = f.collection_select :teacher_id, @teachers, :id, :full_name, include_blank: true

  = f.submit
