<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @klass.subject %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @klass.teacher.full_name %>
</p>

<p>
  <strong>Students:</strong>
  <ul>
    <% @klass.enrolled_students.each do |student| %>
      <li>
        <%= student.full_name %>
        <%= link_to 'Unenroll',
          unenroll_admin_klass_path(
            student.klasses.find_by(
              course_id: @klass.course,
              teacher_id: @klass.teacher
            )
          ), method: :put %>
      </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_klass_path(@klass) %> |
<%= link_to 'Back', admin_klasses_path %>
