<h1>Courses</h1>

<%= render '/shared/search_form', path: courses_path, type: 'Course' %>
<%= link_to 'Back', root_path, class: 'btn btn-dark text-light back-btn' %>

<ul class='course-list'>
  <% @courses.each do |course| %>
    <li class='course-list-item'>
      <div class='card'>
        <img class='card-img-top' src="<%= image_url(course.image_url || '') %>" alt='Card image'>
        <div class='card-body'>
          <h5 class='card-title'><%= truncate(course.name, length: 33) %></h5>
          <p class='card-text'><%= truncate(course.description, length: 90) %></p>
          <%= link_to 'See Course', course_path(course), class: 'btn btn-warning btn-sm text-light' %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
