<p id="notice"><%= notice %></p>

<h1><%= @course.name %></h1>

<ul>
  <% @course.klasses.offered_klasses.each do |klass| %>
    <li>
      By: <%= link_to klass.teacher.full_name, klass_path(klass) %> |
      Average Rating: 0
      <% if current_user.present? %>
        |
        <% if klass.enrolled_students.include?(current_user) %>
          <%= link_to 'Unenroll', unenroll_klass_path(klass), method: :put %>
        <% else %>
          <%= link_to 'Enroll', enroll_klass_path(klass), method: :put %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', courses_path %>
