= form_with(model: review, url: path, local: true) do |f|
  - if review.errors.any?
    #error_explanation
      %h2= "#{pluralize(review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - review.errors.full_messages.each do |message|
          %li= message

  = hidden_field_tag :klass_id, params[:klass_id]

  .form-group.no-margin.small
    = f.label :rating, 'Rating: '
    = f.select :rating, Review::RATING_SYSTEM.reverse, class: 'form-control'

  .form-group
    = f.text_area :description, class: 'form-control', rows: '4'

  = f.submit 'Submit', class: 'btn btn-success float-right'
