<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Edukasyon</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  </head>

  <body>
    <div class='bg-dark sm-padding'>
      <div class='container'>
        <div class='d-flex justify-content-between'>
          <ul class='nav'>
            <li class='nav-item'>
              <%= link_to 'Home', root_path, class: 'nav-link text-light' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Courses', courses_path, class: 'nav-link text-light' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Teachers', teachers_path, class: 'nav-link text-light' %>
            </li>
            <li class='nav-item'>
              <%= link_to 'Admin', admin_root_path, class: 'nav-link text-light' %>
            </li>
          </ul>

          <ul class='nav'>
            <% if current_user.present? %>
              <li class='nav-item'>
                <%= link_to 'My Courses', student_path(current_user), class: 'nav-link text-light' %>
              </li>
              <li class='nav-item'>
                <%= link_to 'Logout', logout_path, class: 'nav-link text-light' %>
              </li>
            <% else %>
              <li class='nav-item'>
                <%= link_to 'Login', login_path, class: 'nav-link text-light' %>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </div>

    <% if current_uri == (root_path) %>
      <%= yield %>
    <% else %>
      <div class='container lg-padding-top'>
        <%= yield %>
      </div>
    <% end %>

  </body>
</html>
