<% flash.each do |key, message| %> 
  <p id="<%= key %>">
    <%= message %>
  </p>
<% end %>

<p>
  <strong>Course:</strong>
  <%= @klass.course.name %>
</p>

<p>
  <strong>By:</strong>
  <%= @klass.teacher.full_name %>
</p>

<p>
  <strong>Rating:</strong>

  <% if @klass.klass_rating.nan? %>
    – (Reviews: <%= @klass.klass_reviews.count %>)
  <% else %>
    <div class='klass-rating'>
      <div class='stars-outer'>
        <div class='stars-inner'>
        </div>
      </div>
      (Rating: <%= @klass.klass_rating %> | Reviews: <%= @klass.klass_reviews.count %>)
    </div>
  <% end %>
</p>

<p>
  <strong>Students:</strong>

  <% if @klass_students.blank? %>
    –
  <% else %>
    <ul>
      <% @klass_students.each do |ks| %>
        <li>
          <%= ks.full_name %> (<%= ks.email %>)
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Reviews:</strong>

  <% if @klass_reviews.blank? %>
    –
  <% else %>
    <ul>
      <% @klass_reviews.each do |kr| %>
        <li>
          (Rating: <%= kr.rating %>)
          "<%= kr.description%>" –
          <%= kr.student.full_name %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<% if @is_klass_student && !@has_klass_review %>
  <div class='klass-review'>
    <h3>Leave Review</h3>
    <%= render '/reviews/form', review: @review, path: reviews_path(klass_id: @klass.id) %>
  </div>
<% end %>

<% if current_user %>
  <% if @is_klass_student %>
    <%= link_to 'Unenroll', unenroll_klass_path(@klass), method: :put %> |
  <% else %>
    <%= link_to 'Enroll', enroll_klass_path(@klass), method: :put %> |
  <% end %>

<% else %>
  <%= link_to 'Enroll', login_path(redirect_to: URI.encode(klass_path(@klass))) %> |
<% end %>

<% if params[:redirect_to] %>
  <%= link_to 'Back', URI.decode(params[:redirect_to]) %>
<% else %>
  <%= link_to 'Back', course_path(@klass.course) %>
<% end %>
